body {
  background-color: #f1f1f1;
  margin: 0;
}

#container {
  text-align: center;
}
.rectangle {
  width: 14%;
  background-color: red;
  padding-bottom: 34%;
  display: inline-block;
  margin: 45px 15px;
}

h1 {
  margin: 0;
  padding: 51px;
  text-align: center;
  font-size: 55px;
}

#stripe {
  height: 50px;
  text-align: center;
  background-color: #fff;
}

.selected {
  background-color: blue;
}
