body {
  background-color: #403F4C;
  margin: 0;
  font-size: 16px;
}

#container {
  text-align: center;
}

.rectangle {
  width: 14%;
  background-color: #06AED5;
  padding-bottom: 30%;
  display: inline-block;
  margin: 25px 15px;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 3.4rem;
  text-transform: uppercase;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 500;
  padding-bottom: 61px;
  padding-top: 51px;
  text-transform: capitalize;
  color: #fff;
  line-height: 84px;
  background-color: #06AED5;
}

#colorDisplay {
  padding-bottom: 51px;
  text-transform: uppercase;
  padding-top: 16px;
  font-weight: 700;
}

#stripe {
  height: 50px;
  text-align: center;
  background-color: #fff;
}

.selected {
  background-color: #06AED5;
  color: #fff;
}
#message {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Encode Sans Expanded', sans-serif;
  width: 20%;
}

button {
  border: none;
  background: none;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 700;
  height: 100%;
  color: #06AED5;
  font-size: 1.06rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: white;
  background-color: #06AED5;
}
